
h1, h2 {
  font-family: 'Dubai', sans-serif;
} 

h1 {
  font-size: 3rem;
  line-height: 1.5;
} 

h3 {
  font-weight: bold;
}

p {
  color: #2b2e2c;
  padding: 1%;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.title {
  background-color: #7e0cf5;
  color: white;
}
.container {
  padding: 3% 15%;
  padding-bottom: 7%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 2.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Dubai, sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 70%;
  transform: rotate(5deg);
  position: absolute;
  margin: 2%
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #7e0cf5;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #4d80e4;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #7e0cf5;
  color: white;
}

#press {
  background-color: #393e46;
  text-align: center;
  padding: 2rem;
}

.press-img {
  width: 16%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  text-align: center;
  padding: 5%;
}

#cta {
  background-color: #7e0cf5;
  text-align: center;
  color: white;
  padding: 3%;
}

#footer {
  background-color: #7e0cf5;
  text-align: center;
  color: white;
  font-size: smaller;
}

.footer-icons {
  color: black;
  margin: 1%;
  margin-top: 2%;
}

#footer {
  text-align: center;
  background-color: white;
  padding: 3rem;
  padding-bottom: 2.5rem;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
  }

  .title{
    text-align: center;
  }
}
